<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/delete_user.css" />
  </head>
  <body>
    <form action="/DeleteUser" method="POST">
      <label for="exampleText">Name To delete:</label>
      <input
        type="text"
        class="form-control"
        id="exampleText"
        name="inputText"
        placeholder="Enter text"
      />
      <button type="submit" class="btn btn-primary mt-2">Delete</button>
    </form>

    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li class="message">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
